body {
    margin: 60px auto;
    width: 60%;
}
nav ul {
    font-family:'Trebuchet MS', Arial, sans-serif;
    padding: 0px;
    color: #49668D;
    font-weight: bold;
    width: 100px
}

footer ul {
    font-family:'Trebuchet MS', Arial, sans-serif;
    padding: 0px;
    color: #49668D;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    list-style-position: inside;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #556f91; /* Slightly lighter variant of the veenspace dark blue*/
}
a:hover {
    text-decoration: underline;
    color: #49668D;
}
h1 {
    border-top: 1px solid #556f91;
    font-size: 3em;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

h2 {
    border-left: 1px solid #556f91;
    margin: 0 0 0 1em
    font-size: 2em;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #B3CDEA;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

imgs {
    display: block
}